@model LMS.Models.Aktivitet

<h4 class="boxTitle">Activity <img src="~/Images/activity.png" class="activityIcon" alt="Activity image" /></h4>
<div class="colHeight">
    <h4 class="quotes nameTitle">@Model.Name</h4>
    <h4 class="font-weight-bold">Activity Description</h4>
    <p class="courseDescriptionBox">@Model.Description</p>

    <p class="typeBox">Activity Type: @Model.ActivityType.TypeName</p>
    <hr />

    <p class="boxParagraph">Start: @Model.StartTime.ToString("yyyy-MM-dd | HH:mm")</p>
    <p class="boxParagraph">End: @Model.EndTime.ToString("yyyy-MM-dd | HH:mm")</p>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn myBtnEdit">Edit</a>
</div>