@model LMS.Models.Aktivitet

<h4 class="boxTitle">Activity (ACT)</h4>
<div class="colHeight">
    <h4 class="quotes nameTitle">@Model.Name</h4>
    <p class="typeBox">Activity Type: @Model.ActivityType.TypeName</p>
    <h4 class="font-weight-bold">Activity Description</h4>
    <p class="courseDescriptionBox">@Model.Description</p>
    <h6 class="font-weight-bold">Duration</h6>
    <p class="boxParagraph">Start: @Model.StartTime.ToString("yyyy-MM-dd | HH:mm")<br />End: @Model.EndTime.ToString("yyyy-MM-dd | HH:mm") </p>
</div>
@if (User.IsInRole("Teacher"))
{
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn myBtnEdit">Edit</a>
    </div>
}