@model LMS.Models.ViewModels.TeacherOverViewModel
@inject LMS.Services.INextActivityService activityService

@{
    ViewData["Title"] = "Teacher Course Overview";
}

@if (User.IsInRole("Teacher"))
{
    <h1>Teacher Course Overview</h1>
}
else
{
    <h1>Course Name: <span class="quotes">@Model.Courses.First().Name</span></h1>
}


@*Welcome text teacher*@
<div class="nextCourseInfo">
    Welcome back <span class="font-weight-bold">@activityService.GetActivity(User).UserName!</span><br />
    Your next activity
    <span class="quotes">@activityService.GetActivity(User).Aktivitet.Name</span>
    starts at
    <span class="font-weight-bold">@activityService.GetActivity(User).Aktivitet.StartTime.ToString("yyyy-MM-dd | HH:mm")</span>
</div>
@if (User.IsInRole("Teacher"))
{
    <div class="form-group form-check">
        <form asp-action="TeacherOverView">
            <input type="checkbox" class="form-check-input" id="checkbox" asp-for="ShowAllCourses" />
            <label class="form-check-label">Show All Courses</label>
        </form>
    </div>
}
<div class="row">
    @*Courses and module box to the left*@
    <div class="col-3">
        <div class="coursesBox">
            <div class="courseBoxHeightTop">
                <h3 class="boxTitle">Courses</h3>
                @foreach (var item in Model.Courses)
                {
                    <ul class="list-group myListGroup">
                        <li id="C@(item.Id)" class="list-group-item courseSelector myListGroupItem cursor">@item.Name</li>
                    </ul>
                }
            </div>

            @if (User.IsInRole("Teacher"))
            {
                <a asp-action="Create" class="btn myBtnAdd">Add New Course</a>
            }

            <hr />
            <div class="col-sm-12 moduleBox colPadding" id="moduleListContainer">
                <h3 class="moduleBoxTitle">Modules and Activities</h3>
            </div>
        </div>
    </div>
    <!--Course and Student list-->
    <div class="col-sm-9 infoBox">
        <div class="row">
            <div class="col-sm-6 borderBottomBox">
                <div class="row">
                    @*Course information box*@
                    <div class="col-sm-6">
                        <div id="courseDetailsContainer"></div>
                    </div>
                    @*Course document box*@
                    <div class="col-sm-6">
                        <div>&nbsp;</div>
                        <div id="courseDocId"></div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 borderRightBox borderBottomBox">
                <h3 id="studentListHeader" class="boxTitle">Students</h3>
                <div class="colHeight">
                    <div id="studentsListContainer"></div>
                    <div id="studentsDetailsContainer"></div>
                </div>
            </div>
        </div>

        <!--Module-->
        <div class="row">
            <div class="col-sm-6 borderTopBox">
                <div class="row">
                    @*Module information box*@
                    <div class="col-sm-6">
                        <div id="moduleDetailsContainer"></div>
                    </div>
                    @*Module document box*@
                    <div class="col-sm-6">
                        <div>&nbsp;</div>
                        <div id="moduleDocId"></div>
                    </div>
                </div>

            </div>

            <!--Activity-->
            <div class="col-sm-6 borderTopBox">
                <div class="row">
                    @*Module information box*@
                    <div class="col-sm-6">
                        <div id="activityDetailsContainer"></div>
                    </div>
                    @*Module document box*@
                    <div class="col-sm-6">
                        <div>&nbsp;</div>
                        <div id="activityDocId"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <span id="@Model.PreSelectedCourse" class="preSelectedCourse"></span>
</div>